@{
    ViewBag.title = "NotFound";
}

<div class="container">
    <div class="icon text-center">
        <img src="~/Image/BrandLogo/404-Image.png" alt="404 Not Found" style="width:400px; height:400px">
    </div>
    <div class="icon text-center m-3">
    <a href="@Url.Action("CustomerDashboard","Home")" class="home-button btn btn-success ">Go to Homepage</a>
    </div>
</div>

